:root {
	--num-nav-items: 6;
	--margin-side: 20vw;
	font-size: 1.2vw;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0;
	color: #fafafa;
}

p,
ul {
	margin: 0;
	padding-bottom: 1rem;
	color: #ffffff;
}

ul {
	padding-left: 2rem;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #e2e200 ;/* color: #0000aa; */
}

a:hover {	
	color: #aaaaf5;/* color: #0088ff; */
}

body {
	margin: 0;
	background-color: #04084f;/* background-color: #fde3d3; */
}

header h1,
header h4,
nav#header ul,
main,
footer h4,
footer p {
	margin-left: var(--margin-side);
	margin-right: var(--margin-side);
}

header {
	padding-top: 1rem;
	padding-bottom: 4rem;
	width: 100%;
	background: url(../images/header.jpg) right bottom/cover;
}

nav#header {
	background-color: #000000;/* background-color: #fc9d65; */
}

nav#header ul {
	padding: 0;
	list-style: none;
	display: flex;
}

nav#header ul li a {
	display: block;
	width: calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
	padding-top: calc(1rem / 3);
	text-align: center;
	font-weight: bold;
	color: #ffffff;/* color: #000000; */
}

nav#header ul li a:hover {
	color: #ffffff;
}

main {
	padding-top: 1rem;
}

table {
	border-collapse: collapse; /* 隣接するセルの罫線を重ねて表示する */
	color: #ffffff; /* フォントの色を指定する */
}
td:nth-child(odd) {
	background-color: #341b60;/* 背景色を指定する */
	text-align: left; /* インライン要素の位置を指定する */
	padding: 5px; /* 要素の余白を指定する(上下左右) */
	width: 300px; /* テーブルの横幅を指定する */
}
td:nth-child(1) {
	background-color: #341b60;/* 背景色を指定する */
	text-align: center; /* インライン要素の位置を指定する */
	padding: 7px; /* 要素の余白を指定する(上下左右) */
	width: 100px; /* テーブルの横幅を指定する */
}
td:nth-child(even) {
	background-color: #250148;/* 背景色を指定する */
	text-align: left; /* インライン要素の位置を指定する */
	padding: 5px; /* 要素の余白を指定する(上下左右) */
	width: 300px; /* テーブルの横幅を指定する */
}
th {
	background-color: #031653; /* 見出しの背景色を指定する */
}


section {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.intense_images {
	cursor: url("../images/plus_cursor.png") 25 25, pointer;
	display: inline-block;
	margin-top: 1rem;
	background-size: cover;
	background-position: 50% 50%;
}

.intense_images.group_photo {
	width: 24rem;
	height: 18rem;
	background-image: url("../images/CPSchool2023_group_photo_thumb.png");
}

.intense_images.zoom_photo {
	width: 24rem;
	height: 13.5rem;
	background-image: url("../images/CPSchool2023_zoom_photo.png");
}

.image-container {
	position: relative;
	display: inline-block;
  }
  
.image-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%; 
	height: 100%;
	background-color: white; /* 背景色を指定 */
	z-index: -1;
}

footer {
	padding-top: 1rem;
	padding-bottom: 3rem;
	background-color: #444444;
	color: #ffffff;
}

footer a {
	color: #dddd66;
	/* color: #fc9d65; */
}

footer a:hover {
	color: #000000;/* color: #fde3d3; */
}

img.logo {
	width: 6rem;
	margin-left: 2rem;
}

nav#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

img.to_top {
	padding: 0.5rem;
	width: 3rem;
}

@media screen and (max-width:480px) {

	:root {
		--margin-side: 10vw;
		font-size: 3vw;
	}

}
